<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyPlus"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.course.UpdateCourse"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.updateCourse" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.course.AddCourse"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.addCourse" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.question.DisplayQuestion"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.DisplayQuestion" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.question.UpdateQuestion"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.updateQuestion" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.question.AddQuestion"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.addQuestion" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.quiz_game.QuizGame"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.addQuestion" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>